.title {
	min-height: 86vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.card {
	padding: 10px;
	margin: 20px;
	max-width: 800px;
	border: solid 1px rgb(50, 214, 255);
	border-radius: 15px;
	box-shadow: 10px 5px 5px grey;
}

.btn {
	display: inline-block;
	float: right;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 25px;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.445);
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
.button{
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}